.experience h3 {
  margin: 0;
}

.experience img {
  width: 50px;
}

.experience p {
  margin-bottom: 0;
}

.experience blockquote {
  background-color: #303030;
  border-radius: 0.5rem;
  margin-left: 0;
  padding: 1rem;
}
