.collapse-header {
  align-items: center;
  background-color: #303030;
  border: 1px solid #383838;
  border-radius: 1.6rem;
  cursor: pointer;
  display: flex;
  padding: 0.75rem 1rem;
  transition: border-radius 0.25s;
  transition-delay: 0.25s;
}

.collapse-expanded .collapse-header {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition-delay: 0s;
  transition-duration: 0s;
}

.collapse-icon {
  font-size: 1.5rem;
  line-height: 0;
  margin-bottom: 0.33rem;
  padding-right: 0.75rem;
  transition: transform 0.25s ease;
  transform-origin: 0.25rem 0.1875rem;
  user-select: none;
}

.collapse-expanded .collapse-icon {
  transform: rotate(90deg);
}

.collapse-content {
  background-color: #383838;
  overflow: hidden;
  padding: 0rem 1rem;
  height: 0;
  transition: height 0.25s ease, padding 0.25s ease;
}

.collapse-expanded .collapse-content {
  height: auto;
  padding: 1rem;
}
